﻿@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Добавление документов</h1>
    <p class="lead">С помощью этого приложения можно добавлять документы в программу монитор</p>
</div>

<div class="row">

</div>