﻿@model Documents.Models.Document1

@{
    ViewBag.Title = "Создать";
}

<h2>Создание документа</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

   
    <div class="form-group">
        @Html.LabelFor(model => model.Дата, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Дата, new {type = "date", @Value = Model.Дата.ToString("yyyy-MM-dd") })
            @Html.ValidationMessageFor(model => model.Дата, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Направление, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Направление", new SelectList(new string[] { "Списание", "Поступление" }))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Наименование_корсчета, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Наименование_корсчета", new SelectList(new string[] { "Корсчет ЦБ", "Корсчет СБЕРБАНК", "Корсчет ЛАНТАБАНК" }))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Валюта, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Валюта", new SelectList(new string[] { "RUB", "USD", "EURO" }))
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Наименование_клиента, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Наименование_клиента, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Наименование_клиента, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Сумма, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Сумма, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Сумма, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Комментарий, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Комментарий, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Комментарий, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Статус, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Статус, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Статус, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Создать" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Обратно к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

