﻿@model Documents.Models.Document1

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить этот документ?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Направление)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Направление)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Наименование_корсчета)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование_корсчета)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Валюта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Валюта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Наименование_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сумма)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сумма)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Комментарий)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Комментарий)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Статус)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Статус)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Обратно к списку", "Index")
        </div>
    }
</div>
