﻿@model Documents.Models.Document1

@{
    ViewBag.Title = "Детали";
}

<h2>Детали документа</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Направление)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Направление)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Наименование_корсчета)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование_корсчета)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Валюта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Валюта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Наименование_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сумма)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сумма)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Комментарий)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Комментарий)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Статус)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Статус)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Обратно к списку", "Index")
</p>
