﻿@model IEnumerable<Documents.Models.Document1>

@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<h3>
    @Html.ActionLink("Создать новый", "Create")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Дата)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Направление)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_корсчета)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Валюта)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Наименование_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Сумма)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Комментарий)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Статус)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Дата)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Направление)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_корсчета)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Валюта)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Наименование_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Сумма)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Комментарий)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Статус)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
            @Html.ActionLink("Детали", "Details", new { id = item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
